main {
    display: block;
}

nav {
    padding-top: 3.6rem;
}

.opciones {
    width: 80%;
    margin: auto;
}

h2 {
    padding-bottom:1.6rem;
}

ul {
    padding: 0;
}

.productos {
    flex-wrap: wrap;
}

.productos li {
    width: 20%;
    height: 20rem;
}

.productos li img {
    width: 100%;
    height: 100%;
}

.nombres li {
    color: rgb(190, 68, 76);
    width: 20%;
    padding-top: 0;
    text-align: center;
}